/*Adaptive*/

@media (max-width: 1300px) {
    .collection {
        &__gallery-title::after {
            width: 100px;
        }
    }
}
@media (max-width: 1200px) {
    .top {
        &__slider-title,
        h2 {
            font-size: 62px;
            line-height: 74px;
        }
        &__slider-img {
            height: 450px;
            margin-left: -10%;
        }
        &__inner::after {
            height: 410px;
        }
    }
}
@media (max-width: 990px) {
    .footer {
        &__info {
            width: 380px;
        }
    }
}
@media (max-width: 920px) {
    .gallery {
        &__btn {
            margin-bottom: 10px;
        }
        &__buttons {
            margin-bottom: 15px;
        }
    }
}
@media (max-width: 900px) {
    .collection {
        &__gallery {
            grid-template-columns: repeat(2, 3fr);
            grid-gap: 25px;
        }
        &__gallery-item {
            &:nth-child(5) {
                //grid-column: 2/3;
                //grid-row: 3;
                display: none;
            }
        }
        &__gallery-pic {
            width: 100%;
        }
    }
}

@media (max-width: 850px) {
    .footer {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info {
            width: 100%;
            margin-bottom: 50px;
        }
        &__info-text {
            width: 100%;
        }
        &__social,
        &__menu {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media (max-width: 768px) {
    .header__btn {
        display: none;
    }
    .menu {
        margin-right: 0;
        &__list-item {
            padding-right: 30px;
            & + .menu__list-item {
                padding-left: 0;
            }
        }
    }
    .logo {
        margin: 0;
    }
    .workpath {
        &__item {
            width: 380px;
        }
        &__item--measurements {
            margin-left: 102px;
        }
        &__item--production {
            margin-left: 40px;
        }
    }
    h5,
    .blog-box__item-title {
        font-size: 17px;
        line-height: 22px;   
    }
}
@media (max-width: 650px) {
    .top {
        &__slider-title,
        h2 {
            font-size: 44px;
            line-height: 52px;
        }
        &__slider-img {
            height: 380px;
        }
        &__inner {
            padding-bottom: 0;
        }
        &__inner::after {
            height: 350px;
        }
    }
    .gallery {
        &__items {
            grid-gap: 5px 10px;
        }
    }
}

//burger
@media (max-width: 540px) {
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header {
        &__inner {
            flex-wrap: wrap;
            padding-top: 42px;
        }
        &__btn-menu {
            order: -1;
            padding: 0;
            height: 37px;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            z-index: 12;
            span {
                display: block;
                background-color: #000;
                width: 37px;
                height: 3px;
                border-radius: 4px;
                margin: 5px 0;
                transition: all .5s ease-out;
            }
        }
        &__btn-menu--active {
            & span:nth-child(1),
            & span:nth-child(4) {
                opacity: 0;
                width: 1px;
                margin: 0 auto;
            }
            & span:nth-child(2) {
                transform: rotate(45deg);
                margin: 0;
                width: 40px;
            }
            & span:nth-child(3) {
                transform: rotate(-45deg);
                margin: -3px 0;
                width: 40px;
            }
        }
    }
    .menu {
        padding: 0;
        width: 100%;
        border-radius: 20px;
        background-color: #fff;
        z-index: 11;
        position: relative;
        text-align: center;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
        transition: all .5s ease-out;
        transform: translateY(-300px);
        &--active {
            transform: translateY(30px);
        }
        &__list {
            display: block;
        }
        &__list-item {
            padding-right: 0;
        }
        &__list-link {
            display: block;
            padding: 15px 0;
            margin-bottom: 4px;
            border-radius: 20px;
            transition: all .6s ease-in;
            &:hover {
                box-shadow: 0 0 5px rgba(0, 0, 0, .4);
            }
            &--active::after {
                bottom: 9px;
                left: 0;
                right: 0;
                width: 100px;
                margin: 0 auto;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
                border-right: 50%;
            }
        }
    }
}
//
@media (max-width: 525px) {
    body {
        font-size: 13px;
        line-height: 23px;
    }
    .top {
        &__slider-title,
        h2 {
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        &__slider-img {
            height: 250px;
        }
        &__inner::after {
            height: 290px;
        }
    }
    h4 {
        font-size: 25px;
        line-height: 24px;
    }
    h3 {
        font-size: 44px;
        line-height: 60px;
    }
    .collection {
        &__content {
            padding-bottom: 30px;
        }
        &__inner {
            margin-bottom: 70px;
            margin-top: 60px;
        }
        &__gallery {
            grid-template-columns: repeat(1, 3fr);
            grid-gap: 25px;
        }
        &__gallery-item {
            &:nth-child(5) {
                display: block;
            }
        }
        &__gallery-pic {
            width: 100%;
        }
    }
    .decor {
        min-height: 400px;
        padding: 130px 0 100px;
    }
    .workpath {
        &__item {
            width: 200px;
        }
        &__item--measurements {
            margin-left: 30px;
        }
        
    }
    .gallery {
        padding-top: 30px;
        padding-bottom: 35px;
        &__btn {
            margin-bottom: 10px;
        }
        &__buttons {
            margin-bottom: 15px;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
    .blog-box {
        padding-bottom: 20px;
        &__items {
            grid-gap: 10px;
            display: block;
        }
        &__item:first-child {
           margin-bottom: 40px;
        }
        &__title {
            margin: 7px auto 15px;
        }
    }
    h5,
    .blog-box__item-title {
        font-size: 18px;
        line-height: 28px;
    }
}
@media (max-width: 400px) {
    .top {
        &__slider-info {
            margin-left: 10px;
        }
        &__slider-item {
            margin-top: 10px;
        }
        &__slider-title::after {
            width: 100px;
        }
        &__slider-title,
        h2 {
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        &__slider-img {
            height: 150px;
        }
        &__inner::after {
            height: 230px;
        }
    }
    .slick-dots {
        margin-top: 5px;
    }
    h3 {
        font-size: 33px;
        line-height: 45px;
    }
    .decor {
        min-height: 325px;
        padding: 55px 0 55px;
    } 
    .workpath {
        padding-top: 30px;
    }
}
@media (max-width: 380px) {
    body {
        font-size: 12px;
        line-height: 25px;
    }
    .footer {
        &__inner {
            justify-content: space-between;
        }
        &__social {
            margin-left: 0;
        }
        &__form {
            display: block;
        }
        &__form-btn {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
            border: 1px solid $title;
        }
    }
}
@media (max-width: 340px) {
    .collection {
        &__inner {
            margin: 20px 0 40px 0;
        }
    }
    h5,
    .blog-box__item-title {
        font-size: 14px;
        line-height: 18px;   
    }
}