@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


/*1 block*/
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
.logo {
    margin: 0 auto;
}
.menu {
    padding-left: 35px;
    margin-right: 60px;
    &__list  {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 80px;
    }
    &__list-link {
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
        transition: all ease-in .5s;
        &:hover {
            color: #F1D152;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
        }
    }
}

/*2 block*/
.footer {
    &__content {
        background-color: #DFDFDF;
        padding: 60px 0 80px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        width: 540px;
    }
    &__info-title {
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }
    &__info-text {
        margin-bottom: 16px;
        max-width: 475px;
    }
    &__info-email {
        font-weight: 600;
        color: $title;
        font-size: 14px;
        padding-left: 30px;
        display: inline-block;
        margin-bottom: 22px;
        position: relative;
        transition: all ease-in .5s;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/mail-img.svg);
            left: 0;
            top: 8px;
            width: 16px;
            height: 12px;
        }
        &:hover {
            color: #000;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        }
    }
    &__form {
        display: flex;
    }
    &__form-input {
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, .7);
        width: 100%;
        &::placeholder {
            color: #a1a1a1;
    	    font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            font-weight: 600;
            min-width: 160px;
        }
    }
    &__form-btn {
        background-color: $title;
        border: none;
        border-radius: 21px;
        color: #FFFFF0;
        padding: 6px 12px;
        font-weight: 600;
        min-width: 160px;
        margin-left: 9px;
        cursor: pointer;
        transition: all ease-in .5s;
        &:hover {
            color: $title;
            background-color: #F1D152;
            border: 1px solid $title;
        }
    }
    &__social {
        width: 105px;
        margin-right: auto;
        margin-left: 100px;
    }
    &__social-link {
        display: flex;
        & img {
            margin-right: 12px;
        }
    }
    &__social-item, &__menu-item {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__social-link, &__menu-link {
        color: #707070;
        transition: all ease-in .5s;
        &:hover {
            color: #000;
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
        }
    }
    &__menu {
        margin-right: 60px;
        width: 125px;
    }
    &__copyright {
        background-color: $title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 0 42px;  
    }
}

/*burger*/
.rightside-menu {
    z-index: 10;
    position: absolute;
    transform: translateX(150%);
    transition: all ease-in-out .7s;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, .4);
    &.--active {
        transform: translateX(0);
    }
    &__close {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 47px 0 0 41px;
    }
    &__content {
        max-width: 485px;
        margin: 0 auto;
        margin-top: 57px;
        img {
            margin: 0 auto;
        }
    }
    &__title {
        position: relative;
        margin: 26px 0 17px 0;
        padding-bottom: 24px;
        &::after {
            position: absolute;
            content: '';
            width: 252px;
            height: 1px;
            background-color: #979797;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
    &__text {
        text-align: center;
        margin-bottom: 75px;
    }
    &__img {
        max-width: 485px;
    }
}

/*3 block*/
.top {
    &__inner {
        padding-bottom: 70px;
        position: relative;
        &::after { //bg
            content: '';
            position: absolute;
            background-image: url(../images/slider-bg.jpg);
            width: 100%;
            height: 722px;
            z-index: -1;
            top: 0;
        }
    }
    &__slider-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__slider-img {
        margin-left: -14%;
        max-width: 703px;
        height: 815px;
        object-fit: cover;
    }
    &__slider-info {
        max-width: 635px;
        margin-left: 25px;
    }
    &__slider-title {
        color: $title;
        font-size: 110px;
        line-height: 135px;
        @extend %title-font;
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 185px;
            height: 1px;
            background-color: #979797;
        }
    }
    &__slider-text {
        max-width: 580px;
    }
}

/*4 block*/
.collection {
    &__inner {
        padding: 0 26px;
        margin: 46px 0 104px 0;
    }
    &__content {
        max-width: 730px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }
    &__title {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 24px;
        &::after {
            position: absolute;
            content: '';
            width: 252px;
            height: 1px;
            background-color: #979797;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 29px;
    }
    &__gallery-item {
        position: relative;
        &:hover {
            .collection__info {
                opacity: 1;
            }
        }
    }
    &__gallery-pic {
        min-height: 350px;
        object-fit: cover;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all ease-in .5s;
        background-color: rgba(#fff, .6);
        opacity: 0;
        padding: 10px;
    }
    &__gallery-title {
        color: $title;
        @extend %title-font;
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: #979797;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}

/*5 block*/
.decor {
    background-image: url(../images/decor-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 0 155px;
    min-height: 600px;
    &__content {
        max-width: 540px;
    }
    &__title {
        padding-bottom: 22px;
        margin-bottom: 21px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 200px;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #979797;
        }
    }
}

/*6 block*/
.workpath {
    padding: 80px 0;
    &__title {
        margin-bottom: 40px;
    }
    &__items-box {
        display: flex;
        border-bottom: 2px solid rgba($title, .7);
        position: relative;
        align-items: flex-end;
        &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: $title;
        }
    }
    &__item--production {
        margin-left: 317px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background-color: rgba($title, .7);
        }
    }
    &__item--measurements {
        margin-left: 306px;
        padding-top: 40px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 20px;
            background-color: rgba($title, .7);
        }
    }
    &__item--consultation,
    &__item--production {
        padding-bottom: 40px;
    }
    &__item {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__item-title {
        margin-left: 10px;
        color: $title;
        @extend %title-font;
    }
    &__item-text {
        margin-top: 14px;
    }
}

/*6 block*/
.gallery {
    padding-bottom: 85px;
    &__buttons {
        text-align: center;
        margin-bottom: 40px;
    }
    &__btn {
        margin: 0 13px;
        background-color: transparent;
        border: 1px solid #454647;
        border-radius: 20px;
        padding: 6px 16px;
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: all .5s ease-in;
    }
    .mixitup-control-active {
        background: rgba(#FFEF35, .5);
        border: 1px solid rgba(#FFEF35, .5);
        color: $title;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px 35px;
        &:nth-child(odd) {
            .gallery__item {
                &:nth-child(1) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }
        &:nth-child(even) {
            .gallery__item {
                &:nth-child(3) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }
    }
    &__item {
        & > img {
            object-fit: cover;
            max-height: 1150px;
            height: 100%;
            width: 100%;
        }
    }
    
}